<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="{{ static('css/index.css/') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


<nav class="navbar fix navbar-light fixed-top btn-success bg-light">
    <a class="navbar-brand" href="{{ url("home") }}">Blog Bar</a>
    {% if request.user.is_authenticated %}
        <form name="myform" class="form-inline right" method="get" action="{{ url('search') }}">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 text-black" type="submit">Search</button>
        </form>
    {% endif %}

    <span class="user">
          {% if request.user.is_authenticated %}Hi {{ request.user }},

              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{{ url('account:logout') }}">logout</a></button>
          {% else %}
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{{ url('account:login') }}">login</a></button>

          {% endif %}
      </span>


</nav>

<div class="container" style="margin-top: 50px">
    <div class="row">

        <div class="col-2 mr-auto">

            <div class="alert alert-success" role="alert" style="min-height: 850px">

                <h6><strong>These are some blog categories</strong></h6>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}><a href="{{ url ("home") }}">All</a></li>
                    {% for c in categories %}
                        <li {% if category.slug == c.pk %}class="selected"{% endif %}>
                        <a href="{{ c.get_category_url() }}">{{ c.name }}</a>
                    {% endfor %}
                </ul>
              </div>
        </div>

        <div class="col-lg-6">

            {% block body %}
            {% endblock %}

            {% block search %}
            {% endblock %}

            {% block cat %}
                {#                {% include 'cat.html.j2' %}#}
            {% endblock %}
        </div>

        <div class="col-lg-4">
            <div class="jumbotron">
                {% block form %}
                {% endblock %}
            </div>
        </div>

    </div>
</div>
</body>
</html>
