<h5>Add blog</h5>
<form action="{{ url('blog:form') }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{as_crispy(form)}}
    <button type="submit">Upload your post</button>
</form>
