{% extends 'base.html.j2' %}
{% block body %}
    <form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{as_crispy(form)}}
        <button type="submit">Upload your post</button>
    </form>
{% endblock %}