{% extends 'base.html.j2' %}
{% block body %}

    {% for i in post %}
        <div class="card mb-3">
            {% if i.image %}
                <img class="card-img-top" style="width: auto; height: 195px;" src="{{ i.image.url }}"
                     alt="not availabe">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{{ i.get_absolute_url() }}">{{ i.name }}</a></h5>

                <p class="card-text">{{ i.description }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ i.created_at }} mins ago</small></p>
            </div>
        </div>

        <p>Likes: {{ i.user_likes.count() }}</p><br>



    {% endfor %}

    {% if post.has_other_pages %}
        <div class="pagination">
            <span class="step-links">
                {% if post.has_previous() %}
                    <a class="btn btn-info" href="?page={{ post.previous_page_number() }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ post.number }} of {{ post.paginator.num_pages }}.
                </span>

                {% if post.has_next() %}
                    <a class="btn btn-info" href="?page={{ post.next_page_number() }}">Next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block form %}
    {% include 'form.html.j2' %}
{% endblock %}



