{% extends "base.html.j2" %}
{% block body %}
    <form action="{{ url('account:login') }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ as_crispy(form) }}
        <button class="btn btn-primary" type="submit">login</button>
    </form>
{% endblock %}