/blogenv/
/project/.env
/myenv/bin/activate.fish
/myenv/bin/pip
/myenv/.gitignore
/blog/migrations/0001_initial.py
/myenv/bin/activate
/myenv/bin/activate.csh
/myenv/bin/activate.ps1
/myenv/bin/activate.xsh
/myenv/bin/activate_this.py
/myenv/modeltranslation/templates/modeltranslation/admin/admin.html
/myenv/modeltranslation/templates/admin/modeltranslation/app_index.html
/myenv/CHANGES.md
/myenv/bin/chardetect
/myenv/modeltranslation/static/css/modeltranslation/forms/common.css
/myenv/modeltranslation/static/js/modeltranslation/forms/common.js
/myenv/bin/django-admin
/myenv/bin/django-admin.py
/myenv/bin/easy_install
/myenv/bin/easy_install3
/myenv/bin/easy_install3.6
/myenv/bin/easy_install-3.6
/myenv/modeltranslation/templates/modeltranslation/admin/edit_translation.html
/myenv/modeltranslation/templates/modeltranslation/admin/export_translations.po
/myenv/modeltranslation/templates/modeltranslation/admin/form_fieldset_bootstrap_render.html
/myenv/bin/futurize
/myenv/modeltranslation/static/css/modeltranslation/import.css
/myenv/modeltranslation/static/js/modeltranslation/import.js
/myenv/LICENSE
/myenv/modeltranslation/templates/modeltranslation/admin/list.html
/myenv/bin/pasteurize
/myenv/bin/pip3
/myenv/bin/pip3.6
/myenv/bin/pip-3.6
/myenv/bin/pisa
/myenv/PKG-INFO
/myenv/bin/pybabel
/myenv/bin/pybidi
/myenv/bin/python
/myenv/bin/python3
/myenv/bin/python3.6
/myenv/pyvenv.cfg
/myenv/README.es.md
/myenv/README.md
/myenv/modeltranslation/static/css/modeltranslation/search.css
/myenv/modeltranslation/templates/modeltranslation/admin/search.html
/myenv/setup.cfg
/myenv/setup.py
/.idea/shelf/Uncommitted_changes_before_Update_at_22_12_20,_9_39_AM_[Default_Changelist]/shelved.patch
/myenv/bin/sqlformat
/.idea/shelf/Uncommitted_changes_before_Update_at_22_12_20__9_39_AM__Default_Changelist_.xml
/myenv/modeltranslation/templates/modeltranslation/admin/update_translations_ok.html
/myenv/bin/vba_extract.py
/myenv/bin/wheel
/myenv/bin/wheel3
/myenv/bin/wheel3.6
/myenv/bin/wheel-3.6
/myenv/bin/xhtml2pdf
/.idea/shelf/Uncommitted_changes_before_Update_at_22_12_20,_9_39_AM_[Default_Changelist]/shelved.patch
