{% extends "base.html.j2" %}
{% block body %}
    <h1>Sign up</h1>
    <form method="post" novalidate>
{#            {{ as_crispy(user_form) }}#}




        username: {{ as_crispy_field(user_form.username) }}
        email: {{ as_crispy_field(user_form.email) }}
        password: {{ as_crispy_field(user_form.password ) }}
        password2: {{ as_crispy_field(user_form.password2) }}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <p><input type="submit" value="Create my account"></p>
    </form>
{% endblock %}
